:root {
  --color-primary-400: hsl(220, 15%, 55%);
  --color-primary-900: hsl(218, 44%, 22%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(212, 45%, 89%);

  /* Fontsize fs body=15px and heading=22px */
  --fs-heading-700: 1.375rem;
  --fs-body-400: 0.9375rem;
  /* Font-weight fw */
  --fw-normal-400: 400;
  --fw-bold-700: 700;
}

/* ================================================= */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.275;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
/* ============================================ */

/* Global design ==================*/

html,
body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  background: var(--color-neutral-300);

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

/* white card background ========*/
.card-container {
  width: 320px;
  padding: 1rem 1rem 2.5rem 1rem;

  background: var(--color-neutral-100);
  border-radius: 20px;

  box-shadow: 0px 15px 20px hsla(0, 0%, 43%, 0.1);

  display: grid;
  gap: 1.5rem;

  font-size: var(--fs-body-400);
}

/* QR Code ====================*/
.image-QR-code {
  width: 288px;
  border-radius: 10px;
}

/* Text zone =================*/
.text-area {
  display: grid;
  gap: 1rem;

  margin: 0 1rem;

  color: var(--color-primary-400);
  font-size: var(--fs-body-400);
  font-weight: var(--fw-normal-400);
}

.title {
  font-size: var(--fs-heading-700);
  font-weight: var(--fw-bold-700);
  color: var(--color-primary-900);
}
